# this doesn't work yet because v1.1 hasn't been released
version: '2'

services:
  app:
    image: ioos/i52n-sos:1.1
    ports:
      - "8083:8080"
    volumes:
      - config:/srv/i52n-sos
    restart: unless-stopped
    networks:
      - i52n-sos
  db:
    image: mdillon/postgis:9.5
    ports:
      - "5435:5432"
    volumes:
      - ./docker/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - db:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=SOME_PASSWORD
    restart: unless-stopped
    networks:
      - i52n-sos

networks:
  i52n-sos:

volumes:
  config:
  db:
