<configuration scan="true" scanPeriod="30 seconds">
	<!-- Log to console instead of file since we're running in Docker -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<file>${logFile}.log</file>
		<encoder>
			<pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.n52" level="INFO" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.hibernate" level="WARN" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>

