<configuration scan="true" scanPeriod="30 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.n52" level="INFO" />
  <logger name="org.springframework" level="WARN" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>

