Test Data

  IOOS style test data can be easily inserted and removed. 

* Inserting test data

  Navigate to the {{{http://localhost:8080/52n-sos-ioos-${project.version}/admin/testdata}Test Data page}},
  logging in if necessary, and then click <<Insert test data>>.
  
* Removing test data

  Navigate to the {{{http://localhost:8080/52n-sos-ioos-${project.version}/admin/testdata}Test Data page}},
  logging in if necessary, and then click <<Remove test data>>.