Upgrade Instructions

  * Log into Admin/Settings, press the Export Settings button, and save the exported settings.
  
  * Remove the old deployed SOS war from the application server and deploy the updated SOS war.
  
  * Open the SOS address in a browser and choose to start the install process.
  
  * Choose to upload your exported settings.
  
  * Continue with the normal {{{./install.html}installation}}.
  
  []