<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ site.name }} {% if page.title %} | {{ page.title }} {% endif %}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
        <a href="./"><h1>{{ site.name }}</h1></a>
        {% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/ioos/i52n-sos/releases/latest" id="download-war" class="button"><span>Download latest release</span></a>
          <a href="https://github.com/ioos/i52n-sos" id="view-on-github" class="button" target="_blank">
            <span>View on GitHub</span>
          </a>
        </section>

        <hr>
        
        {% if page.title %}
          <section id="breadcrumb">
            <a href="./">i52n-SOS</a> &gt;&gt; {{ page.title }}
            </section>
            <br />
        {% endif %}

        <section id="main_content">
          {{content}}
        </section>

        <footer>
          i52n-sos is maintained by <a href="https://github.com/ioos">ioos</a>.
          Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>
      </div>
    </div>
  </body>
</html>
